* {
    font-family: 'Gowun Dodum', sans-serif;
}
.mybox {
    width: 95%;
    max-width: 600px;
    padding: 20px;
    box-shadow: 0px 0px 5px 0px #787878;
    margin: 20px auto;
}
.mylist {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.mylist > input {
    width: 70%;
}
.btnbox {
    width: 95%;
    max-width: 600px;
    padding: 10px;
    box-shadow: 0px 0px 10px 0px lightgray;
    margin: 40px auto 20px auto;
}
.section {
    height: 40px;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.section > button {
    width: 120px;
    height: 50px;
    border: solid 2px;
    border-radius: 30px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    text-align: center;

    margin-right: 30px;
    margin-left: 30px;
}
.section .allbtn {
    background-color: #a5dff9;
}
.section .towatchbtn {
    background-color: #EE7785;
}
.section .watchedbtn {
    background-color: #67D5B5;
}
.mybox > li {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    margin-left: 30px;
    margin-bottom: 10px;
    min-height: 48px;
}
.mybox > li > h2 {
    max-width: 75%;
    font-size: 20px;
    font-weight: 500;
    margin-right: auto;
    margin-bottom: 0px;
}
.mybox > li > h2.done {
    color: #828282;
    font-style: italic;
    font-weight: bold;
    background-color: #FFFF96;
}
