* {
    font-family: 'Gowun Dodum', sans-serif;
}
.mytitle {
    width: 100%;
    height: 250px;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://images.unsplash.com/photo-1594908900066-3f47337549d8?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80');
    background-position: center;
    background-size: cover;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.mytitle > h1 {
    font-weight: bold;
    font-size: 40px;
}
.mybox1 {
    width: 95%;
    max-width: 600px;
    padding: 20px;
    box-shadow: 10px 10px 40px 10px #6d6d6d;
    margin: 60px auto;
}

.mybox{
    width: 100%;
    max-width: 600px;
    padding: 10px;
    background: white;
    border:1px solid white;

}

.mylist {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.mylist > input {
    width: 70%;
}
.btnbox {
    width: 95%;
    max-width: 600px;
    padding: 30px;
    padding-top: 0;
    box-shadow: 0px 0px 10px 0px lightgray;
    margin: 50px auto 30px auto;
    background: #323232;
}
.section {
    height: 80px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    border-bottom: 1px solid #323232;
}
.section > button {
    width: 120px;
    height: 50px;
    font-weight: bold;
    font-size: 20px;
    background: transparent;
    border: none;
    position: relative;
    z-index: 5;
}
.section > button:hover{
    color: white;
}
.section > button:hover:before{
    background: #323232;
}
.section > button:before{
    content:"";
    width: 100px;
    height: 80px;
    display: block;
    transform: skewX(-45deg);
    background: white;
    position: absolute;
    top: -30%; left: 11%;
    z-index: -1;
}

.mybox > li {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    margin-left: 30px;
    margin-bottom: 10px;
    min-height: 48px;
}
.mybox > li > h2 {
    max-width: 75%;
    font-size: 20px;
    font-weight: 700;
    margin-right: auto;
    margin-bottom: 0px;
}
.mybox > li input{
    margin-right: 20px;
}
.mybox > li > h2.done {
    color: #828282;
    font-style: italic;
    font-weight: bold;
    background-color: #FFFF96;
    text-decoration: line-through;
}
.mybox > li > button {
    border: none;
    background-color: transparent;
}
.uncheckedBox{
    accent-color: black;

}
.checkedBox{
    accent-color: black;
}

.mymenu {
    height: 40px;
    width: 100%;
    background-color: #323232;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mymenu > ul{
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    color: white;
    gap: 20px;
    margin: 0;
}
.mymenu > ul li{
    text-align: center;
}
.mymenu > ul li a  {
    color: white;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    margin-right: 50px;
    margin-left: 50px;
    cursor: pointer;
}
