<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>🎬Movie Storage</title>
    <meta property="og:title" content="🎬Movie Storage"/>
    <meta property="og:description" content="인기 영화를 확인하고 리뷰를 남겨보세요!"/>
<!--    <meta property="og:image"-->
<!--          content=""/>-->

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap" rel="stylesheet">
    <link href="/static/css/review.css" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script defer src="/static/js/review.js"></script>
</head>
<body>
    <div class="header">
        <div class="mytitle">
            <h1>Movie Storage</h1>
        </div>
        <div class="mymenu">
        <ul>
            <li><a href="/">RANKING</a></li>
            <li><a href="/review">REVIEW</a></li>
            <li><a href="/list">LIST</a></li>
        </ul>
        </div>
    </div>

    <!-- Review 페이지 -->
    <div class="review">
        <div class="mypost">

            <select id="selectbox" class="form-select mb-3" aria-label="Default select example">
                <option value="all" selected>영화 선택</option>
                {% for title in movie_name %}
                <option value="{{i}}">{{i}}</option>
                {% endfor %}

            </select>

            <!-- <div class="form-floating mb-3">
                <input type="text" class="form-control" id="name" placeholder="url">
                <label for="floatingInput">영화제목</label>
            </div> -->
            <div class="input-group mb-3">
                <label class="input-group-text" for="inputGroupSelect01">별점</label>
                <select class="form-select" id="star">
                    <option selected>-- 선택하기 --</option>
                    <option value="1">⭐</option>
                    <option value="2">⭐⭐</option>
                    <option value="3">⭐⭐⭐</option>
                    <option value="4">⭐⭐⭐⭐</option>
                    <option value="5">⭐⭐⭐⭐⭐</option>
                </select>
            </div>
            <div class="form-floating">
        <textarea class="form-control" placeholder="Leave a comment here" id="comment"
                  style="height: 100px"></textarea>
                <label for="floatingTextarea2">영화 리뷰</label>
            </div>
            <button onclick="posting()" type="button" class="btn btn-dark">리뷰 남기기</button>

            <div class='review-box mb-3' id="cards-box">

            </div>
        </div>


        

        </div>
    </div>


    {% for i in movie_name %}
   <div>{{i}}</div> 
    {% endfor %}

</body>
</html>