<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>🎬Movie Storage</title>
    <meta property="og:title" content="🎬Movie Storage"/>
    <meta property="og:description" content="인기 영화를 확인하고 리뷰를 남겨보세요!"/>
    <!--    <meta property="og:image"-->
    <!--          content=""/>-->

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap" rel="stylesheet">
    <link href="/static/css/main.css" rel="stylesheet">
    <link href="/static/css/review.css" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <script defer src="/static/js/review.js"></script>
</head>
<body>
    <div class="header">
        <div class="mytitle">
            <h1>Movie Storage</h1>
        </div>
        <div class="mymenu">
            <a href="/">RANKING</a>
            <a href="/review">REVIEW</a>
            <a href="/list">LIST</a>
        </div>
    </div>

    <!-- Review 페이지 -->
    <div class="mypost">
        <div class="input-group mb-3">
            <label class="input-group-text" for="title">영화 제목</label>
            <select class="form-select" id="title">
                <option selected onclick="show_movie_title()">-- 영화 제목을 선택하세요 --</option>
<!--                <div id="choose-title">-->
<!--                    <option value="첫번째 영화">첫번째 영화</option>-->
<!--                    <option value="두번째 영화">두번째 영화</option>-->
<!--                    <option value="세번째 영화">세번째 영화</option>-->
<!--                </div>-->
            </select>
        </div>
        <div class="input-group mb-3">
            <label class="input-group-text" for="star">별점</label>
            <select class="form-select" id="star">
                <option selected>-- 별점을 선택하세요 --</option>
                <option value="1">⭐️</option>
                <option value="2">⭐⭐</option>
                <option value="3">⭐⭐⭐</option>
                <option value="4">⭐⭐⭐⭐</option>
                <option value="5">⭐⭐⭐⭐⭐</option>
            </select>
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text">리뷰</span>
            <textarea class="form-control" placeholder="리뷰를 남겨주세요" id="comment"
                      style="height: 100px"></textarea>
        </div>
        <button onclick="save_review()" type="button" class="btn btn-warning mybtn">등록</button>
    </div>
    <div class="mycards" id="comment-list">
        <div class="card">
            <div class="card-body">
                <blockquote class="blockquote mb-0">
                    <div class="titleinpost">${영화제목}</div>
                    <div class="starinpost">${별점}</div>
                    <div class="reviewinpost">${리뷰내용}</div>
                    <div class="btnarea">
                        <button onclick="modify_review(${num})" type="button" class="btn btn-outline-primary">수정</button>
                        <button onclick="delete_review(${num})" type="button" class="btn btn-outline-secondary">삭제</button>
                    </div>
                </blockquote>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <blockquote class="blockquote mb-0">
                    <div class="titleinpost">${영화제목}</div>
                    <div class="starinpost">${별점}</div>
                    <div class="reviewinpost">${리뷰내용}</div>
                    <div class="btnarea">
                        <button onclick="modify_review(${num})" type="button" class="btn btn-outline-primary">수정</button>
                        <button onclick="delete_review(${num})" type="button" class="btn btn-outline-secondary">삭제</button>
                    </div>
                </blockquote>
            </div>
        </div>
    </div>
</body>
</html>
